<%- include('../partials/header') %>

<table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Airline</th>
      <th scope="col">Airport</th>
      <th scope="col">Flight #</th>
      <th scope="col">Date / Time</th>
      <th scope="col">Details</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>"><img src="/images/details.png" alt="details"></a></td>
        <td>        
          <form action="/flights/<%= f._id %>?_method=DELETE" method="POST" id="delete-flight">
            <a href="javascript:void()" onclick="document.getElementById('delete-flight').submit();"><img src="/images/trash.png" alt="delete"></a>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>

</table>

<%- include('../partials/footer') %>
